/*
!/.gitignore
!/.gitmodules
!/README.md
!/LICENSE
!/.config/alacritty
!/.config/fish
!/.config/gh/config.yml
!/.config/git/config
!/.config/neofetch
!/.config/nvchad
!/.config/nvim
!/.config/yadm
!/.config/aliasrc
!/.config/envrc
!/.config/starship.toml
